<label for="{{id|default('options')}}">{{label|default('Dropdown List Menu')}}</label>
<select name="{{name|default('options')}}" id="{{id|default('options')}}"{% if not allowBlank|default(true) %} required{% endif %}>
  {% if allowBlank|default(true) %}<option value=""></option>{% endif %}
  {% if options.length %}
    {% for option in options %}
      <option {% if option.value %} value="{{option.value}}"{% endif %}>{{option.title}}</option>
    {% endfor %}
  {% endif %}
</select>
